header.page-header {
    margin-bottom: 50px;
    padding: 20px 0;
    nav.navbar {
        h1 {
            color: $very_dark_violet;
            margin-right: 30px;
        }
        #navbarNav {
            ul {
                li {
                    margin: 0 5px;
                    a {
                        color: $grayish_violet;
                        font: $bold 14px $font;
                        &:hover {
                            color: $very_dark_violet;
                        }
                    }
                }
            }
        }
        div.client-access {
            button {
                border-radius: 100px;
                color: $grayish_violet;
                font: $bold 14px $font;
                padding: 7px 20px;
                &.btn-login {
                    &:hover {
                        color: $very_dark_violet;
                    }
                }
                &.btn-signup {
                    background: $cyan;
                    color: white;
                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $mobile) {
    header.page-header {
        margin-bottom: 0;
        nav.navbar {
            button.navbar-toggler {
                border: 0 none;
                &:focus {
                    border: 0 none;
                    box-shadow: none;
                }
            }
            #navbarNav {
                margin-top: 25px;
                ul.navbar-nav {
                    background: $dark_violet;
                    border-radius: 10px;
                    padding: 20px;
                    li {
                        margin: 10px 5px;
                        text-align: center;
                        a {
                            color: white;
                            font-size: 18px;
                            &:hover {
                                color: $cyan;
                            }
                        }
                        ul.client-access {
                            border-top: 1px solid rgba($grayish_violet, 25%);
                            margin: 10px 0 -10px 0;
                            li {
                                margin: 20px 5px;
                                a {
                                    &.signup {
                                        background: $cyan;
                                        border-radius: 100px;
                                        &:hover {
                                            background: lighten($cyan, 20%);
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}