header.page-header {
    padding: 20px 0;
    nav.navbar {
        h1 {
            color: $very_dark_violet;
        }
        #navbarNav {
            ul {
                li {
                    a {
                        color: $grayish_violet;
                        font: $bold 14px $font;
                    }
                }
            }
        }
        div.client-access {
            button {
                border-radius: 100px;
                color: $grayish_violet;
                font: $bold 14px $font;
                padding: 7px 20px;
                &.btn-signup {
                    background: $cyan;
                    color: white;
                }
            }
        }
    }
}


@media screen and (max-width: $mobile) {
}