main.page {
    section.presentation {
        margin-bottom: 100px;
        div.presentation-text {
            flex: 0 1 50%;
            h2 {
                color: $very_dark_blue;
                font: $bold 70px/80px $font;
            }
            p {
                color: $grayish_violet;
                font: $regular 20px $font;
                margin-top: 5px;
            }
            a {
                background: $cyan;
                border-radius: 100px;
                color: white;
                display: inline-block;
                font: $bold 20px $font;
                margin-top: 50px;
                padding: 15px 50px;
                text-decoration: none;
                &:hover {
                    opacity: .5;
                }
            }
        }
        div.presentation-image {
            flex: 0 1 40%;
            svg {
                max-width: 100%;
                overflow: visible;
            }
        }
    }

    section.url-shorten {
        background: linear-gradient(white 80px, #EFF1F7 0);
        form.url-shorten-form {
            align-items: center;
            background: url("/images/bg-shorten-desktop.svg") center center no-repeat $dark_violet;
            border-radius: 10px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 50px 70px;
            position: relative;
            input.form-control {
                flex: 0 1 82%;
                border: 2px solid transparent;
                color: $dark_violet;
                font: $regular 16px $font;
                padding: 15px 30px;
                &::placeholder {
                    color: $gray;
                }
                &.error {
                    border-color: $red;
                    &::placeholder {
                        color: rgba($red, .5);
                    }
                }
                &:valid {
                    border-color: green;
                    &::placeholder {
                        color: rgba(green, .5);
                    }
                }
            }
            button {
                background: $cyan;
                border: 2px solid transparent;
                flex: 0 1 16%;
                font: $regular 16px $font;
                padding: 15px 0;
                &:hover {
                    background: lighten($cyan, 20%);
                }
            }
            .invalid-feedback {
                bottom: 25px;
                color: $red;
                font: $regular italic 13px $font;
                position: absolute;
            }
        }

        div.shortened-links {
            margin-top: 20px;
            ul.links-list {
                padding-bottom: 50px;
                li {
                    align-items: center;
                    background: white;
                    border-radius: 5px;
                    color: $very_dark_blue;
                    display: flex;
                    flex-flow: row nowrap;
                    font: $regular 18px $font;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    padding: 15px 30px;
                    span.destination-link {
                        flex: 0 1 60%;
                    }
                    span.short-link {
                        color: $cyan;
                        flex: 0 1 25%;
                        text-align: right;
                    }
                    button.btn-copy {
                        background: $cyan;
                        color: white;
                        flex: 0 1 10%;
                        &:hover {
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }

    section.statistics {
        background: #EFF1F7;
        padding: 50px 0 100px;
        h2 {
            color: $very_dark_blue;
            font: $bold 30px $font;
            text-align: center;
        }
        p {
            color: $grayish_violet;
            font: $regular 16px $font;
            margin: 5px auto;
            text-align: center;
            max-width: 480px;
        }
        div.cards {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin: 0;
            position: relative;
            &::before {
                background: $cyan;
                content: '';
                display: block;
                height: 7px;
                left: 0;
                margin: 0 auto;
                position: absolute;
                top: 60%;
                transform: translateY(-50%);
                width: 100%;
            }
            div.card {
                border: 0 none;
                flex: 0 1 30%;
                padding: 30px;
                .icon {
                    background: $dark_violet;
                    border-radius: 100px;
                    display: inline;
                    height: 90px;
                    margin: -75px 0 30px 0;
                    text-align: center;
                    position: relative;
                    width: 90px;
                    svg {
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                h3 {
                    color: $very_dark_blue;
                    font: $bold 20px $font;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 14px;
                    margin: 0;
                    text-align: left;
                }
                &.record { margin-top: 90px; }
                &.customizable { margin-top: 180px; }
            }
        }
    }

    section.boost {
        background: url("/images/bg-boost-desktop.svg") center center no-repeat $dark_violet;
        padding: 50px;
        h2 {
            color: white;
            font: $bold 40px $font;
            margin-bottom: 30px;
            text-align: center;
        }
        a {
            background: $cyan;
            border-radius: 100px;
            color: white;
            display: block;
            font: $regular 16px $font;
            margin: 0 auto;
            padding: 15px;
            text-align: center;
            width: 200px;
            &:hover {
                background: lighten($cyan, 20%);
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    main.page {
        section.presentation {
            overflow: hidden;
            div.presentation-image {
                flex: 1 1 100%;
                margin-bottom: -100px;
                order: 1;
                svg {
                    left: -60px;
                    position: relative;
                    scale: .65;
                    top: -75px;
                }
            }
            div.presentation-text {
                flex: 1 1 100%;
                order: 2;
                h2 {
                    font-size: 40px;
                    line-height: 50px;
                    text-align: center;
                }
                p {
                    font-size: 18px;
                    margin-top: 10px;
                    text-align: center;
                }
                a {
                    display: block;
                    margin: 30px auto 0;
                    padding: 15px 0;
                    text-align: center;
                    width: 200px;
                }
            }
        }

        section.url-shorten {
            background: linear-gradient(white 80px, #EFF1F7 0);
            form.url-shorten-form {
                background: url("/images/bg-shorten-mobile.svg") 100px -50px no-repeat $dark_violet;
                background-size: cover;
                padding: 30px 20px;
                input.form-control {
                    flex: 1 1 100%;
                    margin-bottom: 15px;
                    padding: 10px 20px;
                    &.error {
                        margin-bottom: 40px;
                    }
                }
                button {
                    flex: 1 1 100%;
                    padding: 10px 20px;
                }
                .invalid-feedback {
                    bottom: 95px;
                    font-size: 12px;
                }
            }
    
            div.shortened-links {
                ul.links-list {
                    li {
                        flex-flow: row wrap;
                        span.destination-link {
                            flex: 1 1 100%;
                        }
                        span.short-link {
                            flex: 1 1 100%;
                        }
                        button {
                            flex: 1 1 100%;
                        }
                    }
                }
            }
        }

        section.statistics {
            div.cards {
                margin: 75px 0 0;
                &::before {
                    height: 100%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 7px;
                }
                div.card {
                    flex: 1 1 100%;
                    text-align: center;
                    .icon {
                        margin: -75px auto 30px;
                    }
                    p {
                        text-align: center;
                    }
                    &.customizable {
                        margin-top: 90px;
                    }
                }
            }
        }

        section.boost {
            background: url("/images/bg-boost-mobile.svg") center center no-repeat $dark_violet;
            padding: 40px 20px;
        }
    }
}